# Virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# Environment variables
.env
.flaskenv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/